/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    margin: 0;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

ul, ol {
    padding-left: 1.3em;
    margin: 0;
    line-height: 1.4em;
}

/* */


body {
    font: 16px/1.3em 'PT Serif' serif;
}

a {
    color: inherit;
}

main a {
    text-decoration: none;
    transition-property: background;
    transition-duration: 0.2s;
}
main a:hover {
    background-color: #eee;
}
main a:after {
    content: "\f0c1";  /* fa-link */
    font: var(--fa-font-solid);
    vertical-align: super;
    font-size: 0.55em;
    position: relative;
    left: -0.1em;
    top: -0.3em;
    /* flip */
    display: inline-block;
    transform: scaleX(-1);
}
main:hover a:after {
    color: blue;
}
main a:hover:after {
    color: inherit;
}


h1, h2, h3 {
    font-family: 'Share';
    font-weight: normal;
    letter-spacing: -0.04em;
}

h1 {
    font-size: 2.6em;
    margin-bottom: 0.8em;
}

h2 {
    font-size: 1.7em;
    font-weight: normal;
    margin-bottom: 0.2em;
    margin-top: 1.2em;
}

h2 small {
    color: #666;
    font-family: 'Open Sans';
    font-size: 45%;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    margin-left: -0.1em;
}

pre.sourceCode {
    font-size: 14px;
    overflow: auto;
}


.container {
    margin-left: 10px;
    margin-right: 10px;
}

header {
    padding: 0.2em 0;
    margin-bottom: 2em;
    background-color: #333;
    color: white;
    font-size: 75%;
}

main.page-index h1 {
    margin-bottom: 0;
}

ul.icon-bullets {
    list-style-type: none;
    padding-left: 0;
}

ul.icon-bullets > li i.fa-fw {
    margin-right: 0.1em;
}

ul.icon-bullets a:after {
    content: "";
    /* fixup flip */
    display: inline;
}

div#positions ul {
    list-style-type: none;
    font-size: 80%;
    line-height: 1.3;
}

section > * {
    margin-left: 1em;
}

section > h1, section > h2 {
    margin-left: 0;
}


@media only screen and (min-width: 480px) {
    .container {
        max-width: 460px;  /* media.min-width - 2 * .container.padding */
        margin-left: auto;
        margin-right: auto;
    }

    main {
        margin-top: 2em;
    }
    main.page-index {
        margin-top: 3em;
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

}

footer#source {
    color:#ddd;
    font-size: 10px;
    margin-top: 4em;
    text-align: right;
}

footer#source > hr {
    border-color: #eee;
    margin-bottom: 0;
}

footer#source > a {
    text-decoration: none;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
