---
title: Home
---

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Person",
  "name": "Kirill Elagin",
  "givenName": "Kirill",
  "familyname": "Elagin",
  "alternateName": "Кирилл Елагин",
  "url": "https://kir.elagin.me/",
  "email": "kirelagin@gmail.com",
  "image": "https://s.gravatar.com/avatar/325af9a946cb4337c6640f0e95044be1?s=512",
  "jobTitle": "Software Engineer",
  "alumniOf": [
    {
      "@type": "CollegeOrUniversity",
      "name": "St. Petersburg Academic University",
      "url": "https://spbau.ru/",
      "sameAs": "https://en.wikipedia.org/wiki/Saint_Petersburg_Academic_University"
    },
    {
      "@type": "CollegeOrUniversity",
      "name": "ITMO University",
      "url": "https://en.itmo.ru/",
      "sameAs": "https://en.wikipedia.org/wiki/ITMO_University"
    }
  ],
  "sameAs": [
    $for(profiles)$"$url$"$sep$,
    $endfor$
  ]
}
</script>

<main class="container page-index">
    <h1>Kirill Elagin</h1>
    <div id="positions">
        <ul>
            <li>Software Engineer</li>
            <li><a href="/edu/">Ex-student @ St. Petersburg Academic University</a></li>
        </ul>
    </div>

    <section id="elsewhere">
        <h2>Elsewhere <small><a href="/profiles/">more</a></small></h2>
        <ul class="icon-bullets">
            $for(profiles)$
              $if(important)$
                  $partial("templates/profiles-item.html")$
              $endif$
            $endfor$
        </ul>
    </section>

    <section id="contacts">
        <h2>Get in touch</h2>
        <ul class="icon-bullets">
            <li>
                <a href="mailto:kirelagin@gmail.com">
                    <i class="fa-fw fa-solid fa-envelope"></i>
                    kirelagin@gmail.com
                </a>
            </li>
            <li>
                <a href="https://matrix.to/#/@kirelagin:matrix.org">
                    <i class="fa-fw fa-solid fa-message"></i>
                    @kirelagin:matrix.org
                </a>
            </li>
            <li>
                <a href="https://telegram.me/kirelagin">
                    <i class="fa-fw fa-brands fa-telegram"></i>
                    kirelagin
                </a>
            </li>
        </ul>
    </section>
</main>

<footer id="source" class="container" style="">
    <hr>
    <a href="https://gitlab.com/kirelagin/kir.elagin.me/">
        <span style="text-decoration: underline">source</span> on <i class="fa-brands fa-gitlab"></i>
    </a>
</footer>
