---
title: Other profiles
---

<section>
    <h1>Find me on the internet</h1>

    <ul class="icon-bullets">
        $for(profiles)$
            $partial("templates/profiles-item.html")$
        $endfor$
    </ul>
</section>
